@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --spaceGray: #FBFBFB;
    --spaceDarkGray:#F3F5F7;
    --mainColor:#49B19D;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
body {
    font-family: Montserrat,Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color:var(--spaceGray);

    min-height: 100svh;
    display: flex;
    flex-direction: column;
}
#root {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}
.App {
    flex: 1 1 0;
    height:100%;
    display:flex;
    flex-direction: column;
}
.header {
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:12px;
    padding:12px 24px;
    border-bottom: 1px solid lightgray;
}
.logo{
    height: 100%;
}
.footer {
    height:60px;
    padding:24px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-top:1px solid lightgray;
    gap:12px;
    margin-top:auto;
}
.container {
    flex: 1 1 0;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginForm form {
    width:300px;
}
.loginForm h2 {
    margin-bottom: 24px;
    font-weight: 600;
}
.loginForm form label {
    flex-shrink: 0;
    display:block;
}
.loginForm form label > * {
    margin-bottom: 24px;
}
.loginForm form button, .loginForm form label > * {
    width: 100%;
}
.loginForm form label > *, .loginForm form button {
    height: 50px;
}
.loginForm input, .loginForm button {
    padding:12px;
    font-size: 1.35rem;
    border-radius: 8px;
    border: 2px solid lightgray;
    outline:none;
}
input:focus-within {
    border:2px solid var(--mainColor);
}
.loginForm button {
    font-weight: 500;
    border: 2px solid transparent;
    color:white;
    background-color: var(--mainColor);
}
.loginForm button:hover {
    background-color:lightgreen;
}
.loginForm button:active {
    border: 2px solid var(--mainColor);
    background-color: white;
    color:black;
}
#username {
    background-color:var(--spaceDarkGray);
}
.githubLogo {
    height: 40px;
}
.icon {
    height: 100px;
    margin-bottom: 36px;
}
.invalidPassword {
    padding:24px 0;
    font-size:1.2mrem;
}

.adminDashboard
@media (max-width: 600px) {
    .header {
        font-size: 0.6rem;
    }
    .footer {
        font-size: 0.6rem;
    }
}